
.container{
    border: 1px solid #c7c7c7;
    width:95%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter{
    border:5px solid #c7c7c7;
    width: 600px;
    height: 350px;
    margin: 0 auto;
    text-align: center;
    background-color: aqua;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.counter h1{
    font-size: 5rem;
}

#count{
    font-size: 9rem;
}




